{% load static %}
{% load tailwind_tags %}
<!doctype html>
<html lang="en">
<head>
  

  <meta charset="utf-8">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
  <title>{% block title %}{% endblock title %} | MyClinic</title>
  {% tailwind_css %} 
  {% block scripts %}{% endblock scripts %}
  
  <style> 
    {% block style %} 
    
    {% endblock style %} 
  </style> 
  {% block link %}
  
  {% endblock link %}
  
</head>

<body>
   
   {% block content %}
   
   {% endblock content %}

    {% block footer %} 
    
    {% endblock footer %} 

    
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>